.headerContainer {
    position: fixed;
    top: var(--global-header-warning-height);
    right: var(--global-page-gutter);
    left: var(--global-page-gutter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--global-header-height);
    padding: 0 12px;
}

.navItemsWrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 2;
}

.navItems {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

@media (max-width: 768px) {
    .navItems {
        flex: 0 1;
        gap: 11px;
        align-items: center;
        justify-content: space-around;
        height: var(--global-header-height);
        min-height: var(--global-header-height);
    }
}
