.navLink {
    flex-grow: 1;
    text-decoration: none;
    font-size: 14px;
    color: var(--text-secondary);
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: color, background-color, box-shadow;
}

.navLink[aria-current="page"] {
    color: var(--text-primary);
    font-weight: 600;
}

.navLink > span {
    white-space: nowrap;
}

.navLink > span::before {
    display: block;
    content: attr(data-title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

@media (min-width: 768px) {
    .navLink {
        flex-grow: 0;
        text-align: left;
        padding: 6px;
    }
}
